<?xml version="1.0"?>
<robot name="balancingkit_on_gazebo"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:include filename="$(find balancingkit_description)/urdf/body/body.urdf.xacro"/>
  <xacro:include filename="$(find balancingkit_description)/urdf/wheel/wheel.urdf.xacro"/>

  <!-- =============== Link & Joint =============== -->
  <!-- Base -->
  <link name="base_footprint"/>

  <xacro:base parent="base_footprint">
    <origin xyz="0 0.02 0.0097"/>
  </xacro:base>

  <!-- Wheel -->
  <xacro:wheel prefix="right" parent="base_link">
    <origin xyz="0.051 -0.02 -0.0097" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
  </xacro:wheel>
  <xacro:wheel prefix="left" parent="base_link">
    <origin xyz="-0.051 -0.02 -0.0097" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
  </xacro:wheel>

  <!-- ===============  Transmission =============== -->
  <!-- PositionJointInterface: requires position -->
  <!-- <xacro:wheel_trans prefix="right" interface="PositionJointInterface"/> -->
  <!-- <xacro:wheel_trans prefix="left" interface="PositionJointInterface"/>  -->
  <!-- VelocityJointInterface: requires position, velocity -->
  <!-- for DiffDriveController -->
  <xacro:wheel_trans prefix="right" interface="VelocityJointInterface"/>
  <xacro:wheel_trans prefix="left" interface="VelocityJointInterface"/>
  <!-- EffortJointInterface: requires position, velocity, effort -->
  <!-- <xacro:wheel_trans prefix="right" interface="EffortJointInterface"/> -->
  <!-- <xacro:wheel_trans prefix="left" interface="EffortJointInterface"/>  -->

  <!-- =============== Gazebo =============== -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>balancingkit_on_gazebo</robotNamespace>
    </plugin>
  </gazebo>

  <!-- Base -->
  <xacro:base_gazebo/>

  <!-- Wheel -->
  <xacro:wheel_gazebo prefix="right"/>
  <xacro:wheel_gazebo prefix="left"/>

  <balancingkit_on_gazebo/>
</robot>
