<?xml version="1.0"?>
<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="model" default="$(find balancingkit_description)/robots/balancingkit.urdf.xacro"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="rvizconfig" default="$(find balancingkit_description)/launch/config/urdf.rviz"/>
  <arg name="position" default="wheel" /> <!-- wheel or gazebo -->

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="balancingkit_on_gazebo/robot_description" command="$(find xacro)/xacro.py --inorder '$(arg model)'" />
  
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model balancingkit -param balancingkit_on_gazebo/robot_description"/>

  <!-- For rviz -->
  <group if="$(eval position=='wheel')">
    <param name="/balancingkit/diff_drive_controller/enable_odom_tf" value="true" />
  </group>

  <group if="$(eval position=='gazebo')">
    <param name="/balancingkit/diff_drive_controller/enable_odom_tf" value="false" />
    <node name="balancingkit_model_tf_publisher" pkg="balancingkit_description" type="balancingkit_model_tf_publisher">
      <param name="model_name" value="balancingkit" />
      <param name="base_frame" value="base_footprint" />
      <param name="world_frame" value="odom" />
    </node>
  </group>

  <!-- ros_control motoman launch file -->
  <include file="$(find balancingkit_control)/launch/balancingkit_control.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" ns="balancingkit_on_gazebo"/>
</launch>
