<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find balancingkit_description)/urdf/body/body.gazebo.xacro"/>
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:property name="velocity_scale_factor" value="1.0"/>
  <xacro:macro name="base" params="parent *joint_origin">
    <joint name="base_joint" type="fixed">
      <insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="base_link"/>
    </joint>
    <link name="base_link">
      <visual>
        <geometry>
          <mesh filename="package://balancingkit_description/meshes/stl/body/balboa_balancing_robot_kit_body_chassis_m.stl"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://balancingkit_description/meshes/stl/body/balboa_balancing_robot_kit_body_chassis_m.stl"/>
        </geometry>
      </collision>
      <inertial>

        <!-- NOTE BEGINNING -->
        <!-- Biased origin causes the slipping problem. -->
        <!-- Not solved yet. -->
        <!-- NOTE END -->
        <!-- real origin -->
        <!-- <origin xyz="&#45;0.005075 &#45;0.000427 0.029879"/> -->
        <!-- virtual origin -->
        <!-- TODO<origin xyz="-0.001 0.0 0.029879"/> -->

        <mass value="0.0687016219743" />
        <inertia ixx="0.00004951341871460000" ixy="0.00000045970330081100" ixz="0.00000003906431665210" iyy="0.00007420445567420000" iyz="0.00000188480164726000" izz="0.00011062967861500000" />
      </inertial>
    </link>
  </xacro:macro>
</robot>
